
  <% if @business_list != nil %>
      <h3>Your Businesses</h3>
      <% @business_list.each do |business| %>
        <%= business.name %>
        <a href="/businesses/<%= business.id %>/edit">Edit</a>
        <a href="/businesses/<%= business.id %>/select">Select</a></br>
    <% end %>
    <% else %>
      <p>You currently have no businesses.</p>
  <% end %>

<% if @business_list != nil %>
  <%= form_tag("/businesses/select", class: "dropdown") do %>
    <select name="business_id">
          <option selected disabled>Choose business</option>
          <% @business_list.each do |business| %>
            <option value="<%= business.id %>"
            <%= business.name %>
            </option>
          <%end%>
    </select>
      <input type="submit" value="select">
    <% end %>
<% end %>



<h3>Add Business:</h3>

<%= form_tag("/businesses/new") do %>

  <p> Business name:
    <input type="text" name="name" value="business name">
  </p>
  <p>Phone number:
    <input type="tel" size=10 name="business_phone" value="##########">
  </p>
  <p><input type="submit" value="Create"></p>

<% end %>


