<% @touch.each do |touch| %>
  <% if touch.outgoing == false %>
    <li class="outgoing">
      <%=touch.message%>
    </li>
  <% else %>
    <li class="incoming">
      <%=touch.message%>
    </li>
<% end %>

<%end%>
<div id="sendMessage" class="mike">
  <%= form_tag("send_message/<%=@cliend.id=>") do %>
    <p> 
    <textarea name="message_content" rows="1" cols="75" value="<%= params[:message_content] %>">
    </textarea>
    </p>   
    <input type="text" value="SEND"></p>
  <% end %>
</div>

