<% if !@client.most_recent_message.nil?%>
  <% @touch.each do |touch| %>
  <ul>
    <% if touch.outgoing == false %>
      
      <li class="incoming">
      <p class="inDate"><%=touch.smart_time_date%></p>

        <p class="text_text"><%=touch.message%></p>
        
      </li>
    <% else %>
      <li class="outgoing">
      <p class="outDate"><%=touch.smart_time_date%></p>
        <p class="text_text"><%=touch.message%></p>
      </li>
      </ul>
    <% end %>
    <% end %>
  <% else %>
     <p class="alert">
       *This is your first message to
       <%= @client.first_name %>
       <%= @client.last_name %>.*
     </p>
   <% end %>


  <div id="sendMessage" class="mike">
    <%= form_tag("send_message/" + @client.id.to_s) do %>
      <p> 
      <textarea name="message_content" rows="2" cols="70" value="<%= params[:message_content] %>">
      </textarea>
      </p>   

      <input class="send_button" type="submit" value="send"></p>

    <% end %>
  </div>

