<% @results.each do |result| %>
  <p>Found result: <%= result.searchable_type %> #<%= result.searchable_id %></p>

  <% if result.searchable_type == "Touch" %>
    <p>
      <a href="touch/current_thread"><%= result.searchable.message %></a>
    </p>
  <% end %>

  <% if result.searchable_type == "Client" %>
    <p><%= result.searchable.first_name %> <%= result.searchable.last_name %></p>
  <% end %>

  <hr>
<% end %>

link to 