
  <div id="client_info">
    <h2>Client info:</h2>
        <p id="client_name"><%= @client.first_name %> <%= @client.last_name %> </p>
      <h4> Client Number:</h4>
        <p id="client_number"><%= @client.phone_number %></p>
      <h4> Client Notes:</h4>
        <p id="client_notes"><%= @client.notes %></p>
      <h4> Client Status: 
      <!-- This toggles the client's active/inactive status -->
      <a href ="/clients/<%= @client.id %>/update_status" class="toggle_status_link" data-client-id="<%= @client.id %>">Toggle Status</a>
      </h4>
        <p id="client_status">
          <% if @client.active == true %>
            Active
          <% else %>
            Inactive
            <% end %>
        </p>

<!-- This edits the current client-->
      <a href="/clients/<%= @client.id %>/edit">Edit</a>
<!-- This creates a new message -->
<!--  ##need to add feature where client is automatically filled in -->
      <!-- <a href ="/touch/create_new/<%= @client.id %>">Send Client New Message</a> -->

  </div>
