
<script type="text/javascript" src="mike.js"></script>






<!-- CLIENTS COLUMN -->
<div id="right" class="beth">

<!-- A NEW CLIENT-->
  <a href ="/clients/new">Add new client</a>

<!-- This is the dropdown menu of all clients -->
  <%= form_tag("/clients/view", class: "dropdown") do %>
  <select name="client_id">
        <option selected disabled>Choose client</option>
        <% @list_clients.each do |client| %>
          <option value= "<%= client.id %>"
          <%= "selected" if @client != nil && client.id == @client.id %>>
          <%=client.first_name %>
          <%=client.last_name %>
          </option>
        <%end%>
  </select>
    <input type="submit">
  <% end %>

<!-- This is the currently-selected client's info-->
<% if @client != nil %>
  <div id="client_info">
    <h2>Client info:</h2>
        <p id="client_name"><%= @client.first_name %> <%= @client.last_name %> </p>
      <h4> Client Number:</h4>
        <p id="client_number">
        (<%= @client.phone_number[0..2] %>)
        <%=@client.phone_number[3..5]%>-<%=@client.phone_number[6..9]%>
        </p>
      <h4> Client Notes:</h4>
        <p id="client_notes"><%= @client.notes %></p>
      <h4> Client Status: 
      <!-- This toggles the client's active/inactive status -->
      <a href ="/clients/<%= @client.id %>/update_status">Toggle Status</a>
      </h4>
        <p id="client_status">
          <% if @client.active == true %>
            Active
          <% else %>
            Inactive
            <% end %>
        </p>

<!-- This edits the current client-->
      <a href ="/clients/<%= @client.id %>/edit">Edit Client</a>
<!-- This creates a new message -->
<!--  ##need to add feature where client is automatically filled in -->
      <!-- <a href ="/touch/create_new/<%= @client.id %>">Send Client New Message</a> -->

  </div>
<% end %>
</div>

