<div id="left" class="mike">
  <%= form_tag("/touch/search_touch") do %>
    <p> Search(Name, Number, Etc)
    <input type="text" name="search"></p>
  <% end %>
  
  <h1>Messages</h1> 

  <h2>All Clients</h2>
  
  <% @clients.each do |client| %>
    <a href="message/:@business.id" class="client" data-client-id="<%= client.id %>"> <%= client.first_name %> <%= client.last_name %></a>
  <% end %>



</div>

<!-- CONVERSATION COLUMN -->


<div id="center" class="jeremy">
</div>
  


<!-- CLIENTS COLUMN -->
<div id="right" class="beth">
<h3><a href ="/clients/view/<%= @business.id %>">View clients</a></h3>
</div>