
<div id="left">
  <%= form_tag("/touch/search_touch") do %>
    <p> Search(Name, Number, Etc)
    <input type="text" name="search"></p>
  <% end %>
  
  

  <h3>Clients</h3>
  
  <% @clients.each do |client| %>
    <a href="#" class="client" data-client-id="<%= client.id %>"> <%= client.first_name %> <%= client.last_name %></a>
  <% end %>



</div>

<!-- CONVERSATION COLUMN -->


<div id="center">
</div>
  


<!-- CLIENTS COLUMN -->
<div id="right">
<h3><a href ="/clients/view/<%= @business.id %>">View clients</a></h3>
</div>