<div id="main" class="row">

  <div class="col-3">
    <div id="left">
      <%= form_tag("/touch/search_touch") do %>
        <input type="text" name="search" placeholder="search">
        <input type="submit" value="search">
      <% end %>
      
      <h3>Messages</h3>

      <ul>

      <% @clients.each do |client| %>
        <li>
          
          <a href="#" class="client" data-client-id="<%= client.id %>"> 
          <div class="name"> 
            <% if !client.most_recent_message.nil? %>
            <%= client.first_name %> <%= client.last_name %></a>



            
            <%= client.most_recent_message.message %>
                  <% end %>

         
              
          </div>
          <div class="date_of_message">
            <%= client.date %>
          </div>
          
      
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <!-- CONVERSATION COLUMN -->
  <div class="col-7">
    <div id="center">
      <h3><%= @business.name %> </h3>
      <div id="thread"></div>
    </div>
  </div>
    
  <!-- CLIENTS COLUMN -->

  <div class="col-2">
  <h3>Clients</h3>
    <div id="right">
      <!--  This is the dropdown menu of all business clients  -->

      <% if @business.clients != nil %>
        <%= form_tag("/clients/info/#{@business.id}", class: "dropdown") do %>
        <select id="dropdown_select" name="client_id">

          <option selected disabled>Choose client</option>
            <% @business.clients.where({"active" => true}).each do |client| %>
              <option value= "<%= client.id %>"
                <%= "selected" if @client != nil && client.id == @client.id %>>
                <%=client.first_name %>
                <%=client.last_name %>
              </option>
            <%end%>
        </select>
      <% end %>
      <input type="submit" id="dropdown_submit">
      <% else %>
        <p>You have no clients.</p>
      <% end %>


      <div id="current_client"></div>

        <!-- A NEW CLIENT-->
        <a class="show_new_client_form button_link" data-business-id="<%= @business.id %>" href="/clients/new/<%= @business.id%>">Add new client</a>

        <a class="button_link" href="/clients/view/<%= @business.id%>">Manage clients</a>

      </div>
    </div>
</div>