<!DOCTYPE html>

<html lang="en">
<head>


  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
<nav>
 <% if user_signed_in? %>
    <li>
      <%= link_to('Profile settings', edit_user_registration_path) %>
    </li>
    <li>
      <a href="/businesses/view">Business settings</a>
    </li>
    <% current_user.businesses.each do |business| %>
    <li>
      <a href="/dashboard/business/<%=business.id%>"><%= business.name %> dashboard</a>
    </li>
    <% end %>
  <% else %>
    <li>
    <%= link_to('Register', new_user_registration_path)  %>
    </li>
  <% end %>

  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>  
    </li>
  <% end %>

  </nav>
  <%= render "javascript" -%>
  <%= render "flashes" -%>
  <%= yield %>
  <%= render "css_overrides" %>
  
</body>
</html>
